
 div #logo:hover{
    color:var(--resalto);
    
}
 h3 {
    margin-top: 16px;
    
}

footer {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    
}
.wrap {
    display: flex;
    margin-top:16px;
    justify-content: space-between;
    align-items: center;
    
}
 div .logonav {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
}

.logonav div {
    display: flex;
    justify-content: left;
} 

 div ul {
    list-style-type: none;

}
 .logonav div ul li{
    padding-top:16px;
}

 .logonav div ul li a{
    text-decoration: none;
    list-style-type: none;
    color: var(--blanco);
    
}
.logonav div ul li a:hover {
    color: var(--resalto);
}
.menu {
    padding-left: 16px;
    margin-right: 32px;
}

.redes {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
 .newsletter div {
    margin-bottom: 40px;
}
 .redes2 {
    border-top: 1px solid var(--blanco);
}
.btn {
    background-color: var(--blanco);
    padding: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 1px solid var(--primario-claro);
    border-right: 1px solid var(--primario-claro);
    border-bottom: 1px solid var(--primario-claro);
} 

 .newsletter .onclick{
    display: flex;
}
.newsletter form input{
    margin: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 1px solid var(--primario-claro);
    border-left: 1px solid var(--primario-claro);
    border-bottom: 1px solid var(--primario-claro);
}
.check {
    padding-top: 16px;
}
