
footer div #logo:hover{
    color:var(--resalto);
    
}
footer h3 {
   margin-top: 0px;
    
}

footer {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    
}
footer .wrap {
    display: flex;
    margin-top:16px;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    
}
footer  div .logonav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    width: 150%;
    
}
footer .logonav {
    margin-top: 0px;
}

footer .logonav div {
    display: flex;
    justify-content: left;
} 


footer  div ul {
    list-style-type: none;

}
footer .logonav div ul li{
    padding-top:16px;
}

footer .logonav div ul li a{
    text-decoration: none;
    list-style-type: none;
    color: var(--blanco);
    
}
footer .logonav div ul li a:hover {
    color: var(--resalto);
}
footer .menu {
    padding-right: 64px;
    padding-left: 0px;
  
}

footer .redes {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
footer .newsletter div {
    margin-bottom: 40px;
}
footer .redes2 {
    border-top: 1px solid var(--blanco);
}

footer .redes2 li:hover{
    color:var(--resalto)
}
footer .btn {
    background-color: var(--blanco);
    padding: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 1px solid var(--primario-claro);
    border-right: 1px solid var(--primario-claro);
    border-bottom: 1px solid var(--primario-claro);
} 

footer .newsletter .onclick{
    display: flex;
}
footer .newsletter form input{
    margin: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 1px solid var(--primario-claro);
    border-left: 1px solid var(--primario-claro);
    border-bottom: 1px solid var(--primario-claro);
}
footer .check {
    padding-top: 16px;
}
