nav {
    border-top: 2px solid var(--gris);
    background-color: var(--primario-claro);
    padding:16px 16px;
    color:var(--blanco);
}

nav div{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}
nav div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0px;

}

nav div ul li{
    padding-right: 32px;
}
nav div ul li a{
    text-decoration: none;
    color: var(--blanco);
}
nav div ul li a:hover{
    color: var(--resalto);
}
#logout{
    padding-right: 0px;

}

