.garantia{   
    display: flex;
    justify-content: space-between;

    border-color: var(--gris);
    padding: 0px;
   
}
.garantia div{
    display: flex;

    border-color: var(--gris);
   
}
.garantia div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.garantia div h1{
    margin:0px;
}
.garantia div div h5,h6{
    margin:0px;
}